.hero {
  width: 100%;
  height: auto;
}

.text {
  font-size: 1.4rem;
  text-align: center;
  color: green;
}

.readonly-text {
  border: 0 !important;
}

#image {
  margin-bottom: 0.5rem;
}

.status {
  font-weight: bold;
}

.errors {
  color: red;
}

.message {
  color: green;
}