@font-face {
  font-family: "ab-regular";
  src: url("AB-Regular.ttf");
}

body {
  background-color: #EFEEEC;
  background-image: url(../image/blomst.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 20rem;
}


.hero {
  font-family: 'ab-regular';
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  font-size:5rem;
}

.text {
  font-size: 1.4rem;
  text-align: center;
  color: green;
}

.readonly-text {
  border: 0 !important;
}

#image {
  margin-bottom: 0.5rem;
}

.status {
  font-weight: bold;
}

.errors {
  color: red;
}

.message {
  color: green;
}