<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="Selina & Philip - 24.08.2024">
    <meta property="og:description" content="Selina & Philip - 24.08.2024">
    <meta property="og:image" content="">
    <meta property="og:url" content="https://test.rshansen.dk/selphi">
    <meta property="og:site_name" content="Selina & Philip - 24.08.2024">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="Selina & Philip - 24.08.2024">

    <link rel="stylesheet" href="css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <!--
    <link rel="stylesheet" href="css/photoswipe.css">
    <link rel="stylesheet" href="css/default-skin.css">
    <link rel="stylesheet" href="css/main.css">
-->
    <title>Selina & Philip - 24.08.2024</title>
  </head>
  <body>
    <main>
      <div class="hero">
        Selina & Philip<wbr /> 28.08.2024
      </div>
      <div class="container">
        <form enctype="multipart/form-data" action="/" method="post">
          <input id="image" name="image[]" type="file" multiple accept="image/jpeg" required>
          {% if enablednamefield == true %}
          <div class="input-group mb-3">
            <input name="name" type="text" required value="" class="form-control" placeholder="Dit navn" aria-label="Dit navn" required aria-describedby="button-addon2">
            <button class="btn btn-outline-primary" type="submit" id="button-addon2">Upload</button>
          </div>
          {% else %}
            <button class="btn btn-outline-primary" type="submit" id="button-addon2">Upload</button>
          {% endif %}
        </form>
        <div class="status">
          {% if uploadStatus is iterable %}
            <div class="errors">
              {% for status in uploadStatus %}
                {{ status }} <br />
              {% endfor %}
            </div>
          {% else %}
            <div class="message">
              {{ uploadStatus }}
            </div>
          {% endif %}
        </div>
      </div>
    </main>
  </body>
</html>